<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>connections</key>
	<dict>
		<key>D2FE2588-2C43-4E3F-8DD0-43B475DDBA53</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B29F583C-4CFD-4832-BCA2-59DF85AD2DD2</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string></string>
	<key>description</key>
	<string>Open Downloads Folder</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Downloads</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>path</key>
				<string>~/Downloads</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.browseinalfred</string>
			<key>uid</key>
			<string>B29F583C-4CFD-4832-BCA2-59DF85AD2DD2</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>downloads</string>
				<key>text</key>
				<string>Open Downloads Folder</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>D2FE2588-2C43-4E3F-8DD0-43B475DDBA53</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>B29F583C-4CFD-4832-BCA2-59DF85AD2DD2</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>D2FE2588-2C43-4E3F-8DD0-43B475DDBA53</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
